@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Calendar */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(100%) brightness(100%) sepia(0%) saturate(0%);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.css-59lb7q {
  margin: 0px;
}
.css-1h7anqn {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.css-nitxrn {
  color: white;
}
